#root {
    width: 1017px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    /* fallback height */
    min-height:100vh;

    /* new small viewport height for modern browsers */
    min-height:100svh;
}

header {
    margin-top: 10px;
    display: flex;
}

header .logo {
    width: 156px;
    height: 24px;
    float: left;
}

header .add-data {
    margin-left: auto;
    margin-right: 0px;
}

main {
}

footer {
    text-align: center;
    margin: 10px auto;
}

.toggle-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#default-modal > div {
    width: 416px;
}