<div class="dom-wrapper" role="table">
    <button id="add" type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Добавить
    </button>
    
    <table class="dom-table">
        <thead class="dom-table-head"></thead>
        <tbody>
        </tbody>
    </table>
</div>


<template id="template-head-column">
    <th scope="col" class="dom-table-head-column"></th>
</template>

<template id="template-row-head">
    <th scope="row" class="dom-table-row-head"></th>
</template>

<template id="template-row-column">
    <td class="dom-table-row-column"></td>
</template>
